@charset "UTF-8";



body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


code {
    font-size: 0.9rem;
}



.sidebar {
    position: fixed;
    right: 1rem;
    margin-top: 3rem;
    text-align: center;
    width: 18rem;
}



.site-author {
    margin-bottom: 3rem;
}

.site-author-picture img {
    width: 100px;
    border-radius: 20px;
}

.site-author-name {
    font-size: 1.6rem;
}

.site-author-name a {
    color: inherit;
    text-decoration: inherit;
}



.site-nav {
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

.site-nav a {
    margin-left: 0.5rem;
}



.wrapper {
    margin-left: 4rem;
    max-width: 40rem;
}



.breadcrumbs {
    font-size: 1.3rem;
    float: left;
    margin-right: 0.4rem;
    margin-bottom: 3rem;
}



.content-wrapper {
    clear: left;
}

.content-header {
    margin-bottom: 2rem;
}

.content-title {
    margin-bottom: 0.4rem;
}

.content-link {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.content-description {
    margin-bottom: 2rem;
}

.content {
    margin-bottom: 4rem;
}

.content code {
    font-size: 1rem;
}



.comments {
    margin-bottom: 4rem;
}

.comments-header {
    margin-bottom: 3rem;
}

.comment {
    margin-bottom: 3rem;
}

.comment-from {
    font-size: 1.3rem;
}

.comment-title {
    font-size: 1.2rem;
}

.comment-header {
    margin-bottom: 0.5rem;
}

.comment-content {
    padding-left: 1rem;
    padding-top: 0.1rem;
    border-left: 0.1rem solid #606060;
    color: #606060;
}


.content blockquote,
.comment-content blockquote {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 0.1rem solid #606060;
    color: #606060;
}





.license {
    margin-bottom: 3rem;
}

.license a {
    color: inherit;
}



.post-listing {
    margin-bottom: 2rem;
}

.post-listing-categories {
    float: left;
    margin-right: 0.5rem;
}

.post-listing-title-wrapper {
    margin-bottom: 0.4em;
}

.post-listing-title {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}

.post-listing-title a {
    color: inherit;
    text-decoration: inherit;
}

.post-listing-title {
    display: inline;
}

.post-listing-domain a {
    color: inherit;
    text-decoration: inherit;
}

.post-listing-comments {
    display: inline-block;
}

.post-listing-comments a {
    color: inherit;
    text-decoration: inherit;
}



.post-listing-dates,
.content-dates,
.comment-dates,
.license {
    color: #b3aea4;
}

.post-listing-title a:hover,
.post-listing-domain a:hover,
.post-listing-comments a:hover,
.site-author-name a:hover {
    text-decoration: underline;
}


@media (max-width: 68rem) {
    body {
        padding-top: 1rem;
    }

    .sidebar {
        position: static;
        margin-top: 0;
        text-align: start;
        margin-bottom: 3rem;
        width: auto;
    }

    .site-author-picture {
        float: left;
        margin-right: 1rem;
    }

    .site-nav {
        border-top: 1px solid black;
        padding: 1rem;
        border-bottom: 1px solid black;
    }

    .site-nav a {
        margin-left: 1rem;
    }

    .wrapper {
        margin-left: 0;
    }
}


/* Pygmentize output */

.highlight {
    background: #f8f8f8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: scroll;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

